.Container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    background-color: #8D6E63;
}
.imageError{
    background-color:white;
    border-radius: 15px;
    height: 70%;
    width:50%;
    box-shadow:2px 5px 10px black; 
    margin-left: 4%;
}
.imageError img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.textError{
    margin-left: 20px;
}
.textError h1{
    color: white;
    font-size: 70px;
    margin-left: 20px;
    font-weight: bold;
}
.textError h2{
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: -10px;
}
.Container h3{
    color: white;
    font-size: 22px;
    margin-left: 20px;
}
.Container h3:hover{
    color: yellow;
    font-size: 22px;
}
.ContainerNotFound{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    background-color:#8D6E63;
}
.imageNotFound{
    margin-left: 3%;
}
.imageNotFound img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.ContainerURLMain{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color:white; */
}
.imageURLMain{
    margin-left: 3%;
}
.imageURLMain img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.textErrorMain h1{
    color: black;
    font-size: 70px;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
}
.textErrorMain h2{
    color: black;
    font-size: 40px;
    margin-left: 20px;
    margin-top: -10px;
}
.textErrorMain h3{
    /* color: black; */
    font-size: 20px;
    margin-left: 20px;
    margin-top: -2px;
}