.view-body{
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 10px #9E9E9E;
}
.HeaderResetPass{
    justify-content:center;
    align-items:center;
    display: flex;
    font-weight: bold;
}
.HeaderResetPass h1{
    font-size: 40px;
}
.viewResetPass{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.viewResetPass h1{
    font-size: 28px;
    color: white;
}
.viewResetPass:hover{
    background-color: #FF4500;
}
.labelPass{
    font-weight: bold;
    font-size: 16px;
}
