.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.landing {
	position: relative;
	background: url('./assets//images/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 30%;
}

.landing-inner h1{
	color: white;
	font-weight: bold;
	font-size: 60px;
}
.landing-inner h4 {
	color: white;
	font-weight: bold;
	font-size: 40px;
  margin-top: -20px;
}
.text-error{
	color: #FFFF00;
	margin-top: 10px;
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Post button */
.post-button {
	padding-top: 0;
	background: transparent;
	border: none;
}

.post-button:hover {
	background: transparent;
}

a.post-button.btn:focus,
a.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

button.post-button.btn:focus,
button.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Floating add button */
.btn-floating {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background: transparent;
	border: none;
}

.btn-floating:hover {
	background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Add new post tooltip */
.tooltip {
	background: transparent;
}

.tooltip .arrow::before {
	border-left-color: #78c2ad;
}

.tooltip-inner {
	background: #78c2ad;
}

/* Post border thicker */
.border-success,
.border-warning,
.border-danger {
	border-width: 2px;
}

/* Post title */
.post-title {
	margin-bottom: 0.5rem;
}

.btnLogin{
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  border-color: white;
  border-width:3px;
}
.btnLogin:hover{
	background-color: black;
	color: white;
	border-color: white;
	border-width:3px;
	font-weight: bold;
	font-size: 25px;
}
.ListItemText{
	color: black;
}
.ListItemText:hover{
	color: #8D6E63;
}

.topnav {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--topnav-height);
}

.topnav__right {
    display: flex;
    align-items: center;
	margin-right: -15px;
	padding-left: 5px;
}

.topnav__right-item ~ .topnav__right-item {
    margin-left: 30px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.notification-item:hover {
	background-color: black;
	color: white;
}

.notification-item > i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.topnav__right-user {
    display: flex;
    align-items: center;
	
}

.topnav__right-user__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
	background-color: white;
}

.topnav__right-user__image > img {
    width: 100%;
}

.topnav__right-user__imagee {
    height: 100px;
}



